*
{
	box-sizing: border-box;
}
body
{
	margin: 0;
}
.formulario
{
	width: 500px;
	max-width: 100%;
	margin: auto;
	margin-top: 45px;
	padding: 25px;
	box-shadow: 0 0 20px 1px rgba(0,0,0.6);
	position: relative;
}
.boton{
  width:50px;
  height:40px;
  background-color:#0F895869;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:18px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.boton:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
.boton a{
  color:#fff;
  text-decoration:none;
  padding:5px 5px 5px 0;
}
.titulo
{
	text-align: center;
	margin-top: 0;
	color: rgba(0,0,0,0.7);
}

.formulario__input,.formulario__input2, .formulario__label, .formulario__submit
{
	display: block;
	width: 100%;
	margin-bottom: 40px;
}

.formulario__input, .formulario__input2
{
	padding: 20px;
	background: transparent;
	border: 1px solid rgba(0,0,0,0.3);
	margin-bottom: 40px;
}
.formulario__input:focus
{
	outline: 1px solid rgba(0,0,0,0.8);
}

.formulario__input:focus + .formulario__label
{
	margin-top: -135px;
}

.formulario__label
{
	padding-left: 15px;
	position: absolute;
	margin-top: -85px;
	z-index: -20;
	color: rgba(0,0,0,0.4);
	transition: all 0.2s;
}
.formulario__submit
{
	background:rgba(0,0,0,0.7);
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
}

.fijar
{
	margin-top: -135px;
}

.s1, .s2
{
	display: inline-block;

}

.foot h1{
	background: red;
}